extends layout

block content

    h1 #{director.name}

    if movies.length

        p #[strong Delete the following movies before attempting to delete this director.]
        div(style='margin-left:20px;margin-top:20px')
            h4 Movies
            dl
                each movie in movies
                    dt
                        a(href=movie.url) #{movie.title}
                    dd #{movie.summary}

    else
        if comments.length

            p #[strong Deleting this director will result in deleting these comments.]
            div(style='margin-left:20px;margin-top:20px')
                h4 Comments
                ul.list-group
                    each comment in comments
                        li.list-group-item.mb-3
                            h5= comment.username
                            p= comment.comment
                            small.text-muted Posted on #{comment.date_formatted}

        p Do you really want to delete this director?

        form(method='POST')
            div.form-group
                input.form-control(type='hidden' name='directorid', value=director._id )

            button.btn.btn-danger(type='submit') Delete   
