extends layout

block content
  img.thumbnail-img(src=movie.image, alt='Movie image')
  h1= movie.title
  h2 Directed by 
    a(href=`/catalog/director/${movie.director.id}`) #{movie.director.name}
  p Year: #{movie.year}
  p Summary: #{movie.summary}
  include comments.pug