extends layout 

block content
  h1.title= title
  div.add
    p Welcome to the movie list
    if user
      a.btn.btn-primary(href='/catalog/movie/create') Add Movie
    else 
      a.btn.btn-secondary(href='/auth/login') Please sign in to add a movie
  
  .flex-container
    each movie in movies
      .flex-item
        .thumbnail
          if movie.image
            img.thumbnail-img(src=movie.image, alt='Movie image')
          else
            img.thumbnail-img(src="https://placehold.co/300x300", alt='Movie image')
        .caption
          h3= `${movie.title} (${movie.year})`
          p= movie.summary
          p
            a.btn.btn-primary(href='/catalog/movie/' + movie._id) View Details »