extends layout

block content
  img.thumbnail-img(src=movie.image, alt='Movie image')
  h1= movie.title
  h2 Directed by 
    a(href=`/catalog/director/${movie.director.id}`) #{movie.director.name}
  p Year: #{movie.year}
  p Summary: #{movie.summary}
  p.lead Created by: <b>#{movie.createdBy.username}</b>
  if user.id == movie.createdBy.id
    a.btn.btn-primary.mr-2.mb-2(href=`/catalog/movie/${movie._id}/update`) Update
    a.btn.btn-danger.mb-2(href=`/catalog/movie/${movie._id}/delete`) Delete
  include comments.pug